*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:black;
}

main{
  height:100vh;
  width:100%;
  display:flex;
  justify-content:center;
  padding:20px 0;
  background:linear-gradient(to right bottom,#1a1a1a,#0e0e0e);
}

section{
  width:350px;
  height:100%;
  overflow-y:scroll;
  scroll-snap-type:y mandatory;
  padding-bottom:40px;
}

.reel{
  height:600px;
  width:100%;
  margin-bottom:30px;
  position:relative;
  border-radius:12px;
  overflow:hidden;
  background:#111;
  scroll-snap-align:start;
}

.reel video{
  height:100%;
  width:100%;
  object-fit:cover;
}

/* bottom content */
.bottom{
  position:absolute;
  bottom:0;
  width:100%;
  padding:25px 20px;
  background:linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
}

.user{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:15px;
}

.user img{
  height:35px;
  width:35px;
  border-radius:50%;
  object-fit:cover;
}

.user h4{
  color:white;
}

.user button{
  background:transparent;
  border:1px solid white;
  color:white;
  padding:2px 6px;
  font-size:13px;
  border-radius:3px;
}

.bottom h3{
  color:white;
  font-size:15px;
  font-weight:500;
}


/* Right side icons */
.right{
  position:absolute;
  right:10px;
  bottom:80px;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:25px;
}

.right i{
  font-size:28px;
  color:white;
}

.right h6{
  color:white;
  font-size:15px;
}

.right > div{
  display:flex;
  flex-direction:column;
  align-items:center;
}
